# Magento 2
/magento/site/app/design/*/Magento
/magento/site/app/etc/*
/magento/site/app/i18n/magento
/magento/site/app/*.*
/magento/site/bin
/magento/site/dev/tests
/magento/site/dev/tools/grunt/assets
/magento/site/dev/tools/grunt/configs/*.*
/magento/site/dev/tools/grunt/tasks
/magento/site/dev/tools/grunt/tools
/magento/site/dev/tools/Magento
/magento/site/dev/tools/*.*
/magento/site/dev/travis
/magento/site/dev/*.*
/magento/site/generated
/magento/site/lib/internal/Cm
/magento/site/lib/internal/LinLibertineFont
/magento/site/lib/web
/magento/site/lib/.htaccess
/magento/site/node_modules
/magento/site/phpserver
/magento/site/pub
/magento/site/setup
/magento/site/var
/magento/site/var/dataflow
/magento/site/vendor
/magento/site/*.*
!/magento/site/Gruntfile.js
!/magento/site/package.json
!/magento/site/dev/tools/grunt/configs/themes.smile.js
!/magento/site/dev/tools/grunt/configs/themes-bricoman.js
!/magento/site/grunt-config.json
/magento/site/auth.json
magento/.DS_Store
/magento/site/composer.lock
!/magento/site/composer-reply.json
!/magento/site/composer.json

