<!-- ko if: visible -->
<div class="switch-field">
    <div class="switch">
        <input type="radio" name="custom_attributes[customer_invoice_type]" id="radio-private" value="1" data-bind="click: click">
        <label for="radio-private" data-bind="i18n: 'Persona fisica'"></label>
    </div>
    <div class="switch">
        <input type="radio" name="custom_attributes[customer_invoice_type]" id="radio-business" value="2" data-bind="click: click">
        <label for="radio-business" data-bind="i18n: 'Società'"></label>
    </div>
</div>
<!-- /ko -->